:root {
  --container-width: 1440px;
}

@media (max-width: 768px) {
  :root {
    --container-width: 768px;
  }
}
@media (max-width: 380px) {
  :root {
    --container-width: 380px;
  }
}
:root {
  --bg-color: #E1D4C9;
  --bg-container: #665F55;
  --bg-overlay: rgba(64, 63, 61, 0.8);
  --text-primary: #403F3D;
  --text-accent: #B0907A;
  --text-inverse: #E1D4C9;
  --border-primary: #C1B6AD;
  --border-inverse: #665F55;
  --logo-url: url("src/assets/icons/logo-light.svg");
}

.dark {
  --bg-color: #292826;
  --bg-container: #403F3D;
  --bg-overlay: rgba(41, 40, 38, 0.8);
  --text-primary: #E1D4C9;
  --text-accent: #B0907A;
  --text-inverse: #E1D4C9;
  --border-primary: #665F55;
  --border-inverse: #C1B6AD;
  --logo-url: url("src/assets/icons/logo-dark.svg");
}

:root {
  --h1-size: 72px;
  --h1-weight: 600;
  --h1-line-height: 105%;
  --h2-size: 60px;
  --h2-weight: 600;
  --h2-line-height: 125%;
  --h3-size: 24px;
  --h3-weight: 600;
  --h3-line-height: 125%;
  --text-size: 16px;
  --text-weight: 400;
  --text-line-height: 150%;
  --caption-size: 10px;
  --caption-weight: 600;
  --caption-line-height: 140%;
  --link-button-size: 16px;
  --link-button-weight: 600;
  --link-button-line-height: 150%;
}

@media (max-width: 640px) {
  :root {
    --h1-size: 42px;
    --h1-weight: 42px;
    --h1-line-height: 115%;
    --h2-size: 32px;
    --h2-weight: 600;
    --h2-line-height: 125%;
  }
}
@media (max-width: 380px) {
  :root {
    --h1-size: 42px;
    --h1-weight: 600;
    --h1-line-height: 115%;
    --h2-size: 32px;
    --h2-weight: 600;
    --h2-line-height: 125%;
  }
}
.tab-control {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 8px;
  background-color: transparent;
  border: 1px solid var(--border-primary);
  border-radius: 100px;
  font-size: var(--link-button-size);
  font-weight: var(--link-button-weight);
  line-height: var(--link-button-line-height);
  cursor: pointer;
  transition: all 0.4s;
}
.tab-control_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--border-primary);
  border-radius: 50%;
  color: var(--text-primary);
  transition: background-color 0.4s;
}
.tab-control.active, .tab-control:hover {
  background-color: var(--bg-container);
  color: var(--text-inverse);
  border-color: var(--bg-container);
}
.tab-control.active .tab-control_icon, .tab-control:hover .tab-control_icon {
  background-color: var(--bg-color);
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
#menu .visually-hidden {
  display: none;
}
#menu .section-title {
  align-self: center;
  max-width: 800px;
  width: 100%;
  text-align: center;
}
#menu .tabs {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#menu .tabs-controls {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 16px;
}
#menu .tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
#menu .tab-container .menu-list {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(4, minmax(240px, 310px));
  grid-auto-flow: row;
  justify-items: center;
}
#menu .tab-container .menu-list_item,
#menu .tab-container .menu-list .item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-primary);
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
}
#menu .tab-container .menu-list_item .image-wrapper,
#menu .tab-container .menu-list .item .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
}
#menu .tab-container .menu-list_item .image-wrapper img,
#menu .tab-container .menu-list .item .image-wrapper img {
  width: 100%;
  transform: scale(1.1);
  transition: transform 0.4s;
}
#menu .tab-container .menu-list_item:hover img,
#menu .tab-container .menu-list .item:hover img {
  transform: scale(1);
}
#menu .tab-container .menu-list_item-info,
#menu .tab-container .menu-list .item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}
#menu .tab-container .menu-list_item-info_price,
#menu .tab-container .menu-list .item-info_price {
  margin-top: auto;
}
#menu .tab-container .load-more {
  display: none;
}

@media (max-width: 1200px) {
  #menu .tab-container .menu-list {
    grid-template-columns: repeat(3, minmax(240px, 1fr));
  }
}
@media (max-width: 920px) {
  #menu .tab-container .menu-list {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
  }
}
@media (max-width: 768px) {
  #menu .tab-container .menu-list {
    grid-template-columns: repeat(2, minmax(240px, 310px));
  }
  #menu .tab-container .menu-list_item:nth-child(n+5) {
    display: none;
  }
  #menu .tab-container .load-more {
    display: flex;
  }
}
@media (max-width: 560px) {
  #menu .tabs-controls {
    gap: 8px;
  }
  #menu .tab-container .menu-list {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=menu.css.map */
